/*martin opening rever*/

@media only screen and (min-width:809px) and (max-width:1300px){
    div.header-left h1{
        font-size:41px;
        left: 10%;
        bottom: 60%;
    }
}

@media only screen and (max-width:809px){
    
section.opening{
    display:flex;  
flex-direction:column-reverse;
    max-height: 100vh;
}
div.header-left, div.header-right{
    width: 100vw;
    
}
div.header-left{
    background-color: transparent;
}

div.header-left h1{
    bottom: 0;
    left:0;
    font-size: 35px;
    text-align: center;
    
}
}
@media only screen and (max-width:560px){
div.button-container button{
 width: 90%;   
}
div.header-right .button-container{
        left: 0;
        margin: 0;
        

    }
}    


/*services*/
@media only screen and (max-width:768px){
    div.service-content h3{
        font-size: 24px;
        text-align: start;
        margin-top: 21px;

    }
    div.service{
        margin-bottom: 41px;
    }
    div.service-content p{
        text-align: start;
    }
    section.services h2{
        padding-bottom: 25px;
    }
    div.service-content{
        width:100%;
        margin: 0;
    }
    section.services{
        padding: 48px 25px 7px 25px;
        
    }
    div.service-image{
        width: 100%;
    }
    div.service-image img{
        width: 100%;
        height: 100%;
    }
    section.services > div:nth-child(3) div.service-image{
        order: 1;
    }
    section.services > div:nth-child(3) div.service-content{
        order: 2;
    }
}

/*about*/
@media only screen and (max-width:768px){
    div.bio{
        margin:0;
        text-align: start;
        max-width: 600px;
        width: 100%;
    }
    div.bio p{
        font-size: 16px;
    }
    div.bio h2{
        padding-bottom:5px;
        padding-top:21px;
    }
    div.image{
        width: 100%;
    
    }
    section.about{
        padding:48px 25px;
    }
    section.about div.bio{  
        order:2;        
    }
    section.about div.image{  
        order:1;        
    }
}

/*tecnologias*/
@media only screen and (max-width:768px){
    .slider .slide{
        width: 150px;
        height: 150px;
    }
}

/*portfolio*/
@media only screen and (max-width:768px){
        ul.portfolio-description li{
            font-size:16px;
        }
        button#learn-more{
            display: none;
        }
    section.portfolio2{
        background-attachment: unset;
    }
    ul.portfolio-description{
        bottom: 0;
        font-size:14px;
        left: 10%;
    }
   
}


/*menu hamburguesa*/
@media only screen and (max-width:768px){
    .ham{
        display: block;
        position: fixed;
        top: 15px;
        right: 15px;
         
       } 

       ul.nav{
        position: fixed;
        top: 0;
        display: flex;
        flex-direction:column;
        padding: 85px 0 0 0;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        background-color:rgba(2,12,62,0.8);
        display: none;
    }
    ul.nav.active{
        display: block;
    }
    li.items{
       width: 100%;
       text-align: center;
       padding: 25px;
       } 
       li.items:hover{
        background-color: #fff;
        color: #000;
       }

      


}