*{
    margin:0;
    box-sizing: border-box;
    padding:0px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@400;500&display=swap');

/*variables*/
:root{
    --font-size-titles: 120px;
    --font-size-subtitles: 43px;
    --font-size-h3:32px;
    --font-size-description:16px;
    --font-family-titles: 'Noto Serif Khojki', serif;
    --font-family-description:'Noto Serif Khojki', serif;
    --font-weight-titles: 500;
    --font-weight-description:400;

}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-family-titles);
    text-transform: uppercase;
    font-weight: var(--font-weight-titles);
}
h1{
    font-size: var(--font-size-titles);
    
}
h2{
    font-size: var(--font-size-subtitles);
}
h3,h4,h5,h6{
    font-size: var(--font-size-h3);
}
p,span{
    font-family: var(--font-family-description);
    font-size: var(--font-size-description);
    font-weight: var(--font-weight-description);
}
a, li, button {
    font-family: var(--font-family-titles);
    font-size: var(--font-size-description);
    text-transform: uppercase;
}

/*loader*/
#loader{
    background: #000 url('./imagenes/loader.gif') no-repeat center center;
    height: 100vh;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    background-size: 20%;

}
/*opening section */


section.opening{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 550px;
    height: 100vh;  
    

}

.header{
    width:100%;
    height: 100%;
    position: relative;
    z-index: 10;
    display:flex;
    align-items: end;
    justify-content: start;
    
}

.header .button-container{
    width: 100%;
    padding-bottom: 50px;
}

h1{
    color: #fff;
    font-size: var(--font-size-titles);
    width: 100%;
    max-width: 100%;
    text-transform: uppercase;
    padding-left:20px;


}

section.opening div.button-container button{
    min-width: 321px;
    padding:21px 22px;
    margin-left:20px;
}
video {
    position: absolute;
    object-fit:cover;
    width:100%;
    height:100%;
    top: 0;
    z-index: -1;    
  }



ul li.items{
    color:#fff;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-weight: 700;
    padding:0 20px;
}

span.after{
    display: block;
    width:0%;
    height: 1px;
    background-color: #fff;

}
li.items:hover span.after{
    width:100%;
    transition: width 800ms;
}


ul.nav{
    display:flex;
    justify-content: space-around;
    text-decoration: none;
    padding-top:20px;
    max-width: 1200px;
    position: absolute;
    top: 15px;
    right: 5%;    
    z-index: 99;

    

}
ul.nav a{
    text-decoration: none;
}
.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;  
  padding: 0;  
  background-color: transparent;
  z-index: 99;
  background-color:#000;
  border-radius: 50%;
  width:55px;
  padding: 5px;
}

.ham span.br{
   display: block;
   background-color: #fff;
   height: 3px;
   width: 32px;
   margin: 7px auto;
   border-radius: 2px;

    
  } 



a.logo img{
    width:100%;
    max-width: 180px;
    height: 60px;
    position: absolute;
    top:20px;
    left: 20px;
    z-index: 99;
}

a.light{
    text-decoration: none;
}
 
  

/*button styles*/
a.light{
    color:#fff
}
button.light{
   
    border-color:#fff;
    color:#fff;
    background-color: transparent;
    padding:21px 42px;
    font-family: var(--font-family-titles);
    font-weight: 700;
    margin-top:21px;
    cursor: pointer;
}


button.light:hover{
    background-color: #fff;
    color: #000;
}
button.light:hover a{
    
    color: #000;
}
button.dark{
    border-color:#000;
    color:#000;
    background-color: transparent;
    padding:21px 42px;
    font-family: var(--font-family-titles);
    font-weight: 700;
    margin-top:21px;
    cursor: pointer;
}
button.dark:hover{
    background-color: #000;
    color: #fff;
}
/*about section*/

section.about{
    height: 100%;
    min-height: 500px;
    background-color: #fff;
    
    display: flex;
    flex-wrap: wrap;
    padding:96px 40px;
}
a.cv{
    color: #000;
    text-decoration: none;
}

div.bio p{
    color: #000;
    font-family: var(--font-family-description);
    font-size:22px;
    line-height: 32px;

}

div.bio h2{
    color: #000;
    
    padding-bottom: 21px;
    font-size: var(--font-size-subtitles);
    font-family: var(--font-family-titles);
}


div.bio{
    margin:0 auto;
    
    max-width: 600px;
    width: 50%;
}
div.image{
    width: 50%;

}
div.image img{
    width:100%;
    max-width: 600px;
}
div.bio div.button-container button{
    min-width: 260px;

}
div.bio div.button-container button:hover a.cv{
    
    color: #fff;
}
div.bio div.button-container{
    text-align: center;
}
/*tecnologias*/

.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding-bottom: 96px;

}

.slider .slide-track{
    display:flex;
    animation: scroll 40s linear infinite;
    -webkit-animation:scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide{
    width: 200px;
    height: 200px;
}
.slider .slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-200px * 7));
        -webkit-transform: translateX(calc(-200px * 7));
    }
}

h2{
    
    text-align: center;
    margin-bottom: 21px;
    text-transform: uppercase;
 
}

/*portfolio*/
/* section.portfolio{
    background-color: #0B131D;
    width: 100%;
    min-height: 650px;
    height: 100%;
    display: flex;
    justify-content: space-between;

}
.portfolio-left{
    border-radius: 0px 0px 700px 0px;
    -moz-border-radius: 0px 0px 700px 0px;
    -webkit-border-radius: 0px 0px 700px 0px;
    border: 0px solid #416CA8;
    width:50vw;
    height: 650px;
    background-color: #416CA8;
    position: relative;
}
.portfolio-left h2{
    color: #fff;
    font-size:70px;
    position: absolute;
    left: 10%;
    bottom: 50%;
    text-align: start
}
.portfolio-right .page{
        width: 80%;
        max-width: 400px;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
       
}
.portfolio-right .page img{
    width: 100%;
}
.portfolio-right p,h3{
    color: #fff;
    text-align: center;
}


.portfolio-right{
    width:50vw;
    height: 650px;
    position: relative;
    overflow-y: scroll;
} */


/*portfolio 2.0*/
a.link-portfolio:hover ul li button.light{
    background-color: #fff;
    color: #000;
}
div.swiffy-slider{
    position: relative;
    width: 80%;
    margin: auto;
}
h2.portfolio-title{
   color:#fff;
   text-align: center;
   
}

section.portfolio2{
    background-color: #000;
background-image: url(./imagenes/portfolio.jpg);
background-attachment: fixed;
background-size: cover;
    padding:96px 0;
    

}
ul.portfolio-description{
    position: absolute;
    color:#fff;
    bottom: 2rem;
    left: 15%;
    list-style: none;
}
ul.portfolio-description a{
     text-decoration: none;
}
ul.portfolio-description a:hover{
    color:#000;
}
ul.portfolio-description button:hover a{
    color: #000;
}
ul.slider-container img{
     opacity: 1;
     
}

ul.portfolio-description li{
    font-weight: 700;
    font-size: 26px;
    text-align: start;
    
    
}
li.portfolio-img{
    text-align: center;
}
div.portfolio-button{
    display: flex;
    justify-content: center;
}
img.close{
    filter: invert(1);
    width: 30px;
    cursor: pointer;
}
p.close{
    position: absolute;
    top:3rem;
    right: 10%;
}
/*portfolio popup */
section.portfolio-popup{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100vw;
    padding: 136px 0;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    display: none;
}
section.portfolio-popup.active{
    display: block;
}
section.portfolio-popup h2{
    color: #fff;
}

div.list-portfolio-item{
    width: 50%;
    max-width:500px;
    height: auto;
    padding: 40px;

}
div.list-portfolio-item h3, p{
    color: #fff;
}
div.list-portfolio-item img.list-portfolio-img{
    width: 100%;
    height: auto;

}
div.list-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1300px;
    margin: auto;

}
div.list-portfolio-item a:hover{
    color:#000;
}
div.list-portfolio-item button:hover a{
    color: #000;
}
div.list-portfolio-item a{
    text-decoration: none;
}

/*services*/
section.services{
    padding: 96px 40px 42px;
    
}
section.services h2{
    padding-bottom: 51px;
}
div.service{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1400px;
    padding-bottom: 48px;
    
}
div.service-image{
    width:50%;
    height: 100%;
    max-height: 100%;
    text-align: center;
    
    
}
div.service-image img{
    width: 100%;
    height: 100%;   
}
div.service-content{
    width:50%;
    margin: auto; 
    max-width: 600px;
    padding-left: 24px;

}
#services > div:nth-child(3) > div.service-content{
    padding-left: 0px;
    padding-right: 24px;    

}
div.service-content h3{
    color:#000;
    padding-bottom: 21px;
    text-align: center;
    
    
}
div.service-content p{
    font-size: 22px;
    text-align: center;
    color:#000;
    
}

/*footer*/

footer{
    background-color: #000;
    background-attachment: fixed;
    height: 100%;
    
    padding: 25px 50px 25px;
}
div.contact{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    max-width: 1400px;
    margin: auto;
    
}
div.contact:nth-child(1){
    padding-bottom: 21px;
}
div.contact div.phone{
    width:30%;
}
div.contact .social-media img{
    width:50px;
    padding-right: 10px;
}
footer > div:nth-child(2) > div.phone{
    margin-left:-35px;
}
footer h4{
    color: #fff;
    padding-top: 21px;
    font-size: 22px;
    
}
footer h3{
    padding-bottom:31px;
    font-size:43px;
}
footer h5, a{
    color:#fff;
    font-size:18px;
}
footer .credit{
    font-size:14px;
    padding-top:21px;
    display: block;
    text-align: center;
}
/*form*/
img.close-contact{
    filter: invert(1);
    width: 30px;
    cursor: pointer;
    
}
p.close-contact{
    position: absolute;
    top:3rem;
    right: 10%;
}
div.contact-form{
    background-color:rgb(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    display:none;
    z-index: 9999;
    
}
div.contact-form.active{
    display: block;
}
div.form{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 750px;
    
    background-color: #fff;
    padding:60px;
}
div.container-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form input, label, textarea{
    display: block;
    color: #000;
}
form{
    margin: auto;
}
h3.form-titles, p.form-titles {
    color:#000;
    max-width: 500px;
    text-align: center;
    padding: 21px;
    width: 60%;
    margin: auto;
}
input.dark{
    border-color:#000;
    color:#000;
    background-color: transparent;
    padding:21px 42px;
    font-family: var(--font-family-titles);
    font-weight: 700;
    margin-top:21px;
    margin: auto;
}
input.field{
    width:60%;
    margin: auto;
    border-bottom: 1px solid #000;
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
label{
    width: 60%;
    margin: auto;
    padding-bottom: 11px;
    padding-top: 21px;
}
textarea{
    width:60%;
    margin: auto;
    border: 1px solid #000;
    background-color: transparent;
    margin-bottom: 31px;
    
}
span.success{
    width:60%;
    margin: auto;
    background-color: rgb(8, 99, 8);
    color: #fff;
    padding: 21px 43px;
    display: none;
    text-align: center;
    font-size:22px;
    margin-bottom:21px;
    text-decoration: uppercase;

}
span.success.active{
    display: block;
}
input.dark:hover{
    background-color: #000;
    color: #fff;
}
